
img {
    width: 250px;
}

html,
body {
    /* height: 100%;
    width: 100%;*/
    margin: 0;
    padding: 0; 
    background-color: #1b1b1b;
}
.header {
    background-color: #1b1b1b;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* align-items: center; */
    padding: 0 40%;
    justify-content: center;
}

/* .header p {
    font-family: arial;
    font-size: 18px;
    color: #fff;
    padding-bottom: 4px;
} */

.header h2 {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: #f8b700;
}

.interface {
    /* padding: 0 1%; */
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    /* position: relative; */
    justify-content: left;
    /* background-color: #1b1b1b; */
}

.interface h3 {
    font-family: 'Acme', sans-serif;
    font-size: 22px;
    color: #f8b700;
    padding: 12px 0 4px;
}

.interface p {
    font-family: arial;
    font-size: 18px;
    color: #d5c8af;
    line-height: 20px;
}

.img-avatar {
    width: 260px;
    height: 260px;
    padding: 35px 0 15px 0;
}

.btn-prefight {
    color: #d5c8af;
    width: 100%;
    border-radius: 25px;
}

.stat{
    padding: 0 25px;
}

.grid {
    display: grid;
    grid-template-columns: 20% 200px 20% 200px 20% 200px;
}
/* убираем текст на маленьком экране*/
/* @media only screen and (max-width: 1700px){
    .text{
        visibility: hidden;
    }
} */

.actions a {
    width: 33.33%;
    margin: 0 32%;
    padding: 10px 220px;
    text-align: center;
    font-size: 14px;
    font-family: arial;
    /* color: #1b1b1b; */
}
.actions a:nth-of-type(1) {
    margin: 0 34%;
    background-color: #e64747;
}  
.actions a:hover {
    opacity: 0.8;
}
.arena {
    width: 100%;
    height: 80px;
    background-color: #606c9b;
    background-image: url("resources/arena.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35vh;
    margin: 30px 0;
    visibility: hidden;
}

.test{
    padding: 1% 38.5%;
}
.test2{
    padding: 3.5% 0 0 38.5%;
}

/* Бойцы - выравниваю размер превьюшек */
#Ryu {
    width: 210px;
}
#Ken {
    width: 180px;
}
#Zangief {
    width: 250px;
}
#Bison {
    width: 265px;
}
/* --------------- */
h3,p {
    color: aqua;
}


h2 {
    font-size: 3em;
    color: aliceblue;
    padding-top: 5px;;
    /* padding-left: 15em; */
}

/* #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
} */


.fighter {
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    padding: 20px 5px 0 10px;
    width: 250px;
    border-radius: 3%;
}

.fighter:hover {
    background-color: aquamarine;
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

#loading-overlay {
    visibility: hidden;
}
